body {
    background-color: lightblue;
    text-align:center;
}

h1 {
    font-size: 40px;
    display: block;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#clear {
    background-color: white;
    font-size: 20px;
    height: auto;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 3px;
}

#dimensions {
    position:absolute;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 8px;
    margin-left: -15vw;
}

#board {
    display: grid;
    height: 80vh;
    width: 80vh;
    background-color: rgba(0,0,0,0);
    margin: auto;
    box-shadow: 5px 10px 5px 8px rgba(0,0,0,.3);
}